<div class="footer-section">
    <div class="content">
      <div class="about-wrapper">
        <h2>ABOUT</h2>
        <a href="#">FAQs</a>
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="logo-wrapper">
        <div class="image-container">
          <img height="100" width="90" src="/static/assets/images/ramen-company-logo.jpg" alt="footer logo" />
        </div>
        <a href="#">www.ramenShop.com</a>
      </div>
      <div class="contacts-wrapper">
        <div class="content">
          <h2>CONTACTS</h2>
          <p>(+63) 9123456789</p>
          <div class="icon-wrapper">
            <div class="icon-container">
              <a href="#"><i class="fa fa-facebook" ></i></a>
            </div>
            <div class="icon-container">
              <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <p class="copyright">©Vincent Goles Ontuca: Aspiring Web Developer</p>
    </div>
  </div>